################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Семинар1/UpgradeLog.htm
/Семинар1/.vs/Семинар1/FileContentIndex/d72881a3-a6be-4124-bc1d-b763360c87f8.vsidx
/Семинар1/.vs/Семинар1/FileContentIndex/dd255f14-abc6-4bfd-8232-30954abcf967.vsidx
